# 1

In [110]:
f = open("teks.txt", "w")
f.write("Pelatihan kita di LPPI Kemang dengan waktu yang telah ditentukan!!")
f.close()

In [111]:
f = open("teks.txt", "r")
f.read()
f.close()

In [112]:
import re
def modify(file, char):
    with open('teks.txt') as f:
        lines = [line.rstrip('\n') for line in f]
    lines = lines[0].split()
    awal = lines[:char]
    akhir = lines[char:]
    
    f = open('teks.txt', 'w') #w write (menimpa yg sebelumnya)
    f.write(' '.join([str(i) for i in awal]) + ' dari pagi sampai sore ' 
            + ' '.join([str(i) for i in akhir]))
    f.close()

In [113]:
modify('teks.txt', 6)

In [114]:
f = open('teks.txt')
f.read()

'Pelatihan kita di LPPI Kemang dengan dari pagi sampai sore waktu yang telah ditentukan!!'

# 2

In [61]:
def writing(nama):
    with open('ex2.txt', 'a') as f:
        f.write(f'Hasil perhitungan Desimal, Octal, Biner, dan Hexa dari huruf {nama} adalah \n')
        
    result = ''

    for i in range(len(nama)):
        desimal1 = ord(nama[i])

        biner = ''
        oktal = ''
        hexa = ''

        #binary
        desimal = desimal1
        while desimal > 0:
            sisa = desimal % 2
            biner = str(sisa) + biner
            desimal //= 2

        #octal
        desimal = desimal1
        while desimal > 0:
            sisa = desimal % 8
            oktal = str(sisa) + oktal
            desimal //= 8

        #hexadecimal
        hex_chars = "0123456789ABCDEF"
        desimal = desimal1
        while desimal > 0:
             sisa = desimal % 16
             hexa = hex_chars[sisa] + hexa
             desimal //= 16
        
        result = f"{nama[i]} = {desimal1}, {biner}, {oktal}, {hexa} \n"
        
        f = open('ex2.txt', 'a')
        f.write(result)
        f.close()
        
nama = input("Nama : ")
ruang = input("Ruang : ")
Skema = input("Skema : ")
writing(nama)

Nama : Ani
Ruang : a
Skema : a

# 3

In [228]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /Users/regita/anaconda3/lib/python3.11/site-packages (8.3.0)
Note: you may need to restart the kernel to use updated packages.

In [229]:
import mysql.connector

In [262]:
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "sakila"
)

In [264]:
lat = mydb.cursor()

In [131]:
sql = "INSERT INTO actor (first_name, last_name, ) VALUES (%s, %s)"
val = ("John", "Highway")
lat.execute(sql, val)

mydb.commit()

print(lat.rowcount, "record(s) inserted.")

1 record inserted.

In [136]:
sql = "UPDATE actor SET first_name=%s, last_name=%s WHERE actor_id=%s"
val = ("Anne", "Gal", 202)
lat.execute(sql, val)

mydb.commit()

print(lat.rowcount, "record(s) updated.")

1 record inserted.

In [145]:
sql = "INSERT INTO actor (first_name, last_name) VALUES (%s, %s)"
val = [
    ("Michele", "Choi"),
    ("Nelly", "Carpenter")
]
lat.executemany(sql, val)

mydb.commit()

print(lat.rowcount, "record(s) inserted.")

2 record(s) inserted.

In [188]:
sql = "DELETE FROM actor WHERE last_name = 'Carpenter'"
# sql = "DELETE FROM actor WHERE actor_id = 201 AND actor_id = 202"
lat.execute(sql)

mydb.commit()

print(lat.rowcount, "record(s) deleted.")

1 record(s) deleted.

In [191]:
sql = "UPDATE actor SET actor_id=%s WHERE last_name=%s"
val = [
    (201, "Gal"),
    (202, "Choi")
]
lat.executemany(sql, val)

mydb.commit()

print(lat.rowcount, "record(s) updated.")

2 record(s) updated.

In [250]:
lat.execute("select * from actor")
myresult = lat.fetchall()

In [260]:
sql_query = pd.read_sql_query ('''
                               SELECT * FROM actor
                               ''', mydb)

df = pd.DataFrame(sql_query)
df

/var/folders/hz/213j1qjd4cx4s8qq5rvxmsy40000gn/T/ipykernel_2913/1738421309.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  sql_query = pd.read_sql_query ('''

OperationalError: MySQL Connection not available.

In [200]:
sql = "DELETE FROM actor WHERE last_name = 'Gal'"
# sql = "DELETE FROM actor WHERE actor_id = 201 AND actor_id = 202"
lat.execute(sql)

mydb.commit()

print(lat.rowcount, "record(s) deleted.")

1 record(s) deleted.

In [252]:
lat.execute("select * from film")
myresult = lat.fetchall()

In [279]:
sql_query = pd.read_sql_query ('''
                               SELECT * FROM actor
                               ''', mydb)

df = pd.DataFrame(sql_query)
df

/var/folders/hz/213j1qjd4cx4s8qq5rvxmsy40000gn/T/ipykernel_2913/1738421309.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  sql_query = pd.read_sql_query ('''

OperationalError: MySQL Connection not available.

In [234]:
df.columns

Index(['actor_id', 'first_name', 'last_name', 'last_update'], dtype='object')

In [235]:
df.dtypes

actor_id                int64
first_name             object
last_name              object
last_update    datetime64[ns]
dtype: object

In [254]:
df.nunique()

actor_id       201
first_name     129
last_name      122
last_update      2
dtype: int64

In [237]:
df[['first_name', 'last_name']].describe()

       first_name last_name
count         201       201
unique        129       122
top      PENELOPE    KILMER
freq            4         5

In [238]:
df[['last_update']].describe()

                         last_update
count                            201
mean   2006-03-19 20:01:41.597014656
min              2006-02-15 04:34:33
25%              2006-02-15 04:34:33
50%              2006-02-15 04:34:33
75%              2006-02-15 04:34:33
max              2024-02-02 14:30:21

In [239]:
len(df)

201

In [240]:
df.isnull().sum()

actor_id       0
first_name     0
last_name      0
last_update    0
dtype: int64

In [241]:
df.tail(5)

     actor_id first_name last_name         last_update
196       197      REESE      WEST 2006-02-15 04:34:33
197       198       MARY    KEITEL 2006-02-15 04:34:33
198       199      JULIA   FAWCETT 2006-02-15 04:34:33
199       200      THORA    TEMPLE 2006-02-15 04:34:33
200       202    Michele      Choi 2024-02-02 14:30:21

In [281]:
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "sakila"
)

In [282]:
lat = mydb.cursor()

In [277]:
sql = "SELECT first_name FROM actor WHERE last_name LIKE '%BE%'"
lat.execute(sql)
names = lat.fetchall()
for x in names:
   print(x)

mydb.close()

('NICK',)
('KARL',)
('VIVIEN',)
('PARKER',)
('HENRY',)
('CHRISTOPHER',)
('DARYL',)
('LIZA',)
('SCARLETT',)
('MICHAEL',)

In [217]:
# for x in range(len(df)):
#     if 'BE' in df['last_name'][x]:
#         print(df['first_name'][x])

NICK
KARL
VIVIEN
PARKER
HENRY
CHRISTOPHER
DARYL
LIZA
SCARLETT
MICHAEL

In [278]:
len(df)

201

SOAL :
N = 1 (city_id)
while N < 60:
    cetak nama kota & alamat
    n++
    berhenti

In [289]:
# sql = "SELECT \
#   city.city, \
#   address.address \
#   FROM city \
#   INNER JOIN address ON city.city_id = address.city_id"

# lat.execute(sql)

# result = lat.fetchall()

# for x in result:
#   print(x)

('Lethbridge', '47 MySakila Drive')
('Woodridge', '28 MySQL Boulevard')
('Lethbridge', '23 Workhaven Lane')
('Woodridge', '1411 Lillydale Drive')
('Sasebo', '1913 Hanoi Way')
('San Bernardino', '1121 Loja Avenue')
('Athenai', '692 Joliet Street')
('Myingyan', '1566 Inegöl Manor')
('Nantou', '53 Idfu Parkway')
('Laredo', '1795 Santiago de Compostela Way')
('Kragujevac', '900 Santiago de Compostela Parkway')
('Hamilton', '478 Joliet Way')
('Masqat', '613 Korolev Drive')
('Esfahan', '1531 Salé Drive')
('Sagamihara', '1542 Tarlac Parkway')
('Yamuna Nagar', '808 Bhopal Manor')
('Osmaniye', '270 Amroha Parkway')
('Citrus Heights', '770 Bydgoszcz Avenue')
('Bhopal', '419 Iligan Lane')
('Southend-on-Sea', '360 Toulouse Parkway')
('Elista', '270 Toulon Boulevard')
('Kaduna', '320 Brest Avenue')
('Kimberley', '1417 Lancaster Avenue')
('Mardan', '1688 Okara Way')
('Tangail', '262 A Coruña (La Coruña) Parkway')
('Salé', '28 Charlotte Amalie Street')
('Liepaja', '1780 Hino Boulevard')
('Córdoba', '96 Tafuna Way')
('Shikarpur', '934 San Felipe de Puerto Plata Street')
('Città del Vaticano', '18 Duisburg Boulevard')
('Davao', '217 Botshabelo Place')
('Munger (Monghyr)', '1425 Shikarpur Manor')
('Shimonoseki', '786 Aurora Avenue')
('Lungtan', '1668 Anápolis Street')
('Kamarhati', '33 Gorontalo Way')
('Jhansi', '176 Mandaluyong Place')
('Alessandria', '127 Purnea (Purnia) Manor')
('Kurashiki', '61 Tama Street')
('Toulouse', '391 Callao Drive')
('Arak', '334 Munger (Monghyr) Lane')
('Nanyang', '1440 Fukuyama Loop')
('Chisinau', '269 Cam Ranh Parkway')
('Vila Velha', '306 Antofagasta Place')
('Nador', '671 Graz Street')
('Yerevan', '42 Brindisi Place')
('Pak Kret', '1632 Bislig Avenue')
('Faaa', '1447 Imus Way')
('Lipetsk', '1998 Halifax Drive')
('Antofagasta', '1718 Valencia Street')
('Moscow', '46 Pjatigorsk Lane')
('Juazeiro do Norte', '686 Garland Manor')
('Niznekamsk', '909 Garland Manor')
('Jedda', '725 Isesaki Place')
('Omdurman', '115 Hidalgo Parkway')
('Fontana', '1135 Izumisano Parkway')
('A Coruña (La Coruña)', '939 Probolinggo Loop')
('Nagareyama', '17 Kabul Boulevard')
('Iwakuni', '1964 Allappuzha (Alleppey) Street')
('Balašiha', '1697 Kowloon and New Kowloon Loop')
('Papeete', '1668 Saint Louis Place')
('Vaduz', '943 Tokat Street')
('Kuching', '1114 Liepaja Street')
('Mysore', '1213 Ranchi Parkway')
('Jaipur', '81 Hodeida Way')
('Basel', '915 Ponce Place')
('Saint Louis', '1717 Guadalajara Lane')
('Lincoln', '1214 Hanoi Way')
('Daxian', '1966 Amroha Avenue')
('Cayenne', '698 Otsu Street')
('Malmö', '1150 Kimchon Manor')
('Xi´angtan', '1586 Guarujá Place')
('Shivapuri', '57 Arlington Manor')
('Béchar', '1031 Daugavpils Parkway')
('al-Hawiya', '1124 Buenaventura Drive')
('Baybay', '492 Cam Ranh Street')
('Taguig', '89 Allappuzha (Alleppey) Manor')
('Chiayi', '1947 Poços de Caldas Boulevard')
('Rio Claro', '1206 Dos Quebradas Place')
('Changhwa', '1551 Rampur Lane')
('Pavlodar', '602 Paarl Street')
('Araçatuba', '1692 Ede Loop')
('Rae Bareli', '936 Salzburg Lane')
('Kamakura', '586 Tete Way')
('Ife', '1888 Kabul Drive')
('Mahajanga', '320 Baiyin Parkway')
('Simferopol', '927 Bahía Blanca Parkway')
('Springs', '929 Tallahassee Loop')
('Atlixco', '125 Città del Vaticano Boulevard')
('Bradford', '1557 Kütahya Boulevard')
('Songkhla', '870 Ashqelon Loop')
('Sincelejo', '1740 Portoviejo Avenue')
('Cheju', '1942 Ciparay Parkway')
('La Plata', '1926 El Alto Avenue')
('Meixian', '1952 Chatsworth Drive')
('Bandar Seri Begawan', '1370 Le Mans Avenue')
('Goiânia', '984 Effon-Alaiye Avenue')
('Zalantun', '832 Nakhon Sawan Manor')
('Bislig', '152 Kitwe Parkway')
('Pathankot', '1697 Tanauan Lane')
('Augusta-Richmond County', '1308 Arecibo Way')
('Tete', '1599 Plock Drive')
('al-Ayn', '669 Firozabad Loop')
('Kimchon', '588 Vila Velha Manor')
('Jelets', '1913 Kamakura Place')
('Abha', '733 Mandaluyong Place')
('Ashdod', '659 Vaduz Drive')
('Ilorin', '1177 Jelets Way')
('Toulon', '1386 Yangor Avenue')
('Funafuti', '454 Nakhon Sawan Boulevard')
('Ivanovo', '1867 San Juan Bautista Tuxtepec Avenue')
('Merlo', '1532 Dzerzinsk Way')
('Huixquilucan', '1002 Ahmadnagar Manor')
('Klerksdorp', '682 Junan Way')
('Enshi', '804 Elista Drive')
('Caracas', '1378 Alvorada Avenue')
('Lancaster', '793 Cam Ranh Avenue')
('Cumaná', '1079 Tel Aviv-Jaffa Boulevard')
('Duisburg', '442 Rae Bareli Place')
('Nezahualcóyotl', '1107 Nakhon Sawan Avenue')
('Pemalang', '544 Malmö Parkway')
('Gandhinagar', '1967 Sincelejo Place')
('Grand Prairie', '333 Goiânia Way')
('Shubra al-Khayma', '1987 Coacalco de Berriozábal Loop')
('Dos Quebradas', '241 Mosul Lane')
('Etawah', '211 Chiayi Drive')
('Lima', '1175 Tanauan Way')
('Varanasi (Benares)', '117 Boa Vista Way')
('Kütahya', '848 Tafuna Manor')
('Boksburg', '569 Baicheng Lane')
('Poá', '1666 Qomsheh Drive')
('Smolensk', '801 Hagonoy Drive')
('Jastrzebie-Zdrój', '1050 Garden Grove Avenue')
('Liaocheng', '1854 Tieli Street')
('Águas Lindas de Goiás', '758 Junan Lane')
('Mukatševe', '1752 São Leopoldo Parkway')
('Botshabelo', '898 Belém Manor')
('Torreón', '261 Saint Louis Way')
('Qalyub', '765 Southampton Drive')
('Pune', '943 Johannesburg Avenue')
('Hubli-Dharwad', '788 Atšinsk Street')
('Apeldoorn', '1749 Daxian Place')
('Hohhot', '1587 Sullana Lane')
('Touliu', '1029 Dzerzinsk Manor')
('Clarksville', '1666 Beni-Mellal Place')
('Fukuyama', '928 Jaffna Loop')
('Dundee', '483 Ljubertsy Parkway')
('Kilis', '374 Bat Yam Boulevard')
('Molodetšno', '1027 Songkhla Manor')
('Soshanguve', '999 Sanaa Loop')
('Sterling Heights', '879 Newcastle Way')
('Urawa', '1337 Lincoln Parkway')
('Saint-Denis', '1952 Pune Lane')
('Brockton', '782 Mosul Street')
('Hidalgo', '781 Shimonoseki Drive')
('Laiwu', '1560 Jelets Boulevard')
('Nagaon', '1963 Moscow Place')
('Jakarta', '456 Escobar Way')
('Yuncheng', '798 Cianjur Avenue')
('Bern', '185 Novi Sad Place')
('Ondo', '1367 Yantai Manor')
('Pyongyang', '1386 Nakhon Sawan Boulevard')
('Greensboro', '369 Papeete Way')
('Linz', '1440 Compton Place')
('Ljubertsy', '1623 Bahía Blanca Manor')
('Tel Aviv-Jaffa', '97 Shimoga Avenue')
('Le Mans', '1740 Le Mans Loop')
('Kakamigahara', '1287 Xi´angfan Boulevard')
('Tarsus', '842 Salzburg Lane')
('Hami', '154 Tallahassee Loop')
('Lilongwe', '710 San Felipe del Progreso Avenue')
('Chandrapur', '1540 Wroclaw Drive')
('Jinchang', '475 Atšinsk Way')
('Pingxiang', '1294 Firozabad Drive')
('Udaipur', '1877 Ezhou Lane')
('Ipoh', '316 Uruapan Street')
('Batman', '29 Pyongyang Loop')
('Graz', '1010 Klerksdorp Way')
('Ocumare del Tuy', '1848 Salala Boulevard')
('Allappuzha (Alleppey)', '431 Xi´angtan Avenue')
('Skikda', '757 Rustenburg Avenue')
('Matamoros', '146 Johannesburg Way')
('Santa Bárbara d´Oeste', '1891 Rizhao Boulevard')
('Kirovo-Tšepetsk', '1089 Iwatsuki Avenue')
('Pereira', '1410 Benin City Parkway')
('Memphis', '682 Garden Grove Place')
('Compton', '533 al-Ayn Boulevard')
('Luziânia', '1839 Székesfehérvár Parkway')
('´s-Hertogenbosch', '741 Ambattur Manor')
('Shahr-e Kord', '927 Barcelona Street')
('Haldia', '435 0 Way')
('Sumy', '140 Chiayi Parkway')
('Bayugan', '1166 Changhwa Street')
('Oshawa', '891 Novi Sad Manor')
('Tabora', '605 Rio Claro Parkway')
('Novotšerkassk', '1077 San Felipe de Puerto Plata Place')
('Firozabad', '9 San Miguel de Tucumán Manor')
('Kisumu', '447 Surakarta Loop')
('Hino', '345 Oshawa Boulevard')
('Siegen', '1792 Valle de la Pascua Place')
('Mannheim', '1074 Binzhou Manor')
('Changzhou', '817 Bradford Loop')
('Ikerre', '955 Bamenda Way')
('Haiphong', '1149 A Coruña (La Coruña) Boulevard')
('Ashgabat', '387 Mwene-Ditu Drive')
('Witten', '68 Molodetšno Manor')
('Bhusawal', '642 Nador Drive')
('Gorontalo', '1688 Nador Lane')
('Usak', '1215 Pyongyang Parkway')
('Ciudad del Este', '1679 Antofagasta Street')
('Blumenau', '1304 ´s-Hertogenbosch Way')
('Nuuk', '850 Salala Loop')
('Balurghat', '624 Oshawa Boulevard')
('Bhilwara', '43 Dadu Avenue')
('Aden', '751 Lima Loop')
('Fuyu', '1333 Haldia Street')
('Bellevue', '660 Jedda Boulevard')
('Taizz', '1001 Miyakonojo Lane')
('Sunnyvale', '226 Brest Manor')
('Stara Zagora', '1229 Valencia Parkway')
('Aparecida de Goiânia', '1201 Qomsheh Manor')
('Sambhal', '866 Shivapuri Manor')
('Kabul', '1168 Najafabad Parkway')
('Vicente López', '1244 Allappuzha (Alleppey) Place')
('Zanzibar', '1842 Luziânia Boulevard')
('Syrakusa', '1926 Gingoog Street')
('Jaroslavl', '810 Palghat (Palakkad) Boulevard')
('Mandi Bahauddin', '1820 Maringá Parkway')
('Jodhpur', '60 Poços de Caldas Street')
('Ambattur', '1014 Loja Manor')
('Asunción', '201 Effon-Alaiye Way')
('Saarbrücken', '430 Alessandria Loop')
('Phnom Penh', '754 Valencia Place')
('Anápolis', '356 Olomouc Manor')
('Botosani', '1256 Bislig Boulevard')
('Uttarpara-Kotrung', '954 Kimchon Place')
('Zaria', '885 Yingkou Manor')
('Idfu', '1736 Cavite Place')
('Jalib al-Shuyukh', '346 Skikda Parkway')
('Buenaventura', '98 Stara Zagora Boulevard')
('Tanza', '1479 Rustenburg Boulevard')
('Naju', '647 A Coruña (La Coruña) Street')
('Shimoga', '1964 Gijón Manor')
('Ciomas', '47 Syktyvkar Lane')
('Iwaki', '1148 Saarbrücken Parkway')
('Xi´angfan', '1103 Bilbays Parkway')
('Qinhuangdao', '1246 Boksburg Parkway')
('San Miguel de Tucumán', '1483 Pathankot Street')
('Lapu-Lapu', '582 Papeete Loop')
('Uijongbu', '300 Junan Street')
('Maringá', '829 Grand Prairie Way')
('Coacalco de Berriozábal', '1473 Changhwa Parkway')
('Tallahassee', '1309 Weifang Street')
('Tianjin', '1760 Oshawa Manor')
('Oyo', '786 Stara Zagora Way')
('Halle/Saale', '1966 Tonghae Street')
('London', '1497 Yuzhou Drive')
('Miyakonojo', '752 Ondo Loop')
('Poços de Caldas', '1338 Zalantun Lane')
('Hagonoy', '127 Iwakuni Boulevard')
('Monywa', '51 Laredo Avenue')
('Beira', '771 Yaoundé Manor')
('Santiago de los Caballeros', '532 Toulon Street')
('Halisahar', '1027 Banjul Place')
('Datong', '1158 Mandi Bahauddin Parkway')
('Tuguegarao', '862 Xintai Lane')
('Portoviejo', '816 Cayenne Parkway')
('Mandaluyong', '1831 Nam Dinh Loop')
('Higashiosaka', '446 Kirovo-Tšepetsk Lane')
('Olomouc', '682 Halisahar Place')
('Salzburg', '1587 Loja Manor')
('Lengshuijiang', '1762 Paarl Parkway')
('Palghat (Palakkad)', '1519 Ilorin Place')
('Salinas', '920 Kumbakonam Loop')
('Kalisz', '906 Goiânia Way')
('Kumbakonam', '1675 Xi´angfan Manor')
('Yantai', '85 San Felipe de Puerto Plata Drive')
('Salamanca', '144 South Hill Loop')
('Karnal', '1884 Shikarpur Avenue')
('Peoria', '1980 Kamjanets-Podilskyi Street')
('Warren', '1944 Bamenda Way')
('Ogbomosho', '556 Baybay Manor')
('Inegöl', '457 Tongliao Loop')
('Tabriz', '600 Bradford Street')
('Owo', '1006 Santa Bárbara d´Oeste Manor')
('Fuzhou', '1308 Sumy Loop')
('Ponce', '1405 Chisinau Place')
('Korla', '226 Halifax Street')
('Benin City', '1279 Udine Parkway')
('Otsu', '1336 Benin City Drive')
('Effon-Alaiye', '1155 Liaocheng Place')
('Tambaram', '1993 Tabuk Lane')
('Valle de Santiago', '86 Higashiosaka Lane')
('Kowloon and New Kowloon', '1912 Allende Manor')
('Valle de la Pascua', '544 Tarsus Boulevard')
('Roanoke', '1936 Cumaná Avenue')
('Sharja', '1192 Tongliao Street')
('Donostia-San Sebastián', '44 Najafabad Way')
('Dayton', '32 Pudukkottai Lane')
('Kolpino', '661 Chisinau Lane')
('Patiala', '951 Stara Zagora Manor')
('Ahmadnagar', '922 Vila Velha Loop')
('Oulu', '898 Jining Lane')
('Hiroshima', '1635 Kuwana Boulevard')
('Parbhani', '41 El Alto Parkway')
('Kaliningrad', '1883 Maikop Lane')
('Tiefa', '1908 Gaziantep Place')
('Sanaa', '687 Alessandria Parkway')
('Callao', '827 Yuncheng Drive')
('Arlington', '913 Coacalco de Berriozábal Loop')
('Sungai Petani', '715 São Bernardo do Campo Lane')
('Angra dos Reis', '1354 Siegen Street')
('Kansas City', '1191 Sungai Petani Boulevard')
('Brescia', '1224 Huejutla de Reyes Boulevard')
('Ibirité', '543 Bergamo Avenue')
('Kursk', '746 Joliet Lane')
('Tabuk', '780 Kimberley Way')
('Ezhou', '1774 Yaoundé Place')
('Sorocaba', '1957 Yantai Lane')
('Bat Yam', '1542 Lubumbashi Boulevard')
('Miraj', '651 Pathankot Loop')
('Tórshavn', '1359 Zhoushan Parkway')
('Bydgoszcz', '1769 Iwaki Lane')
('San Felipe del Progreso', '1145 Vilnius Manor')
('Tafuna', '1892 Nabereznyje Tšelny Lane')
('Birgunj', '470 Boksburg Street')
('Bahía Blanca', '1427 A Coruña (La Coruña) Place')
('Cuautla', '479 San Felipe del Progreso Avenue')
('Yuzhou', '867 Benin City Avenue')
('Brasília', '981 Kumbakonam Place')
('Kingstown', '1016 Iwakuni Street')
('Adana', '663 Bahía Blanca Parkway')
('Ciparay', '1860 Taguig Loop')
('Jamalpur', '1816 Bydgoszcz Loop')
('Aurora', '587 Benguela Manor')
('Santa Fé', '430 Kumbakonam Drive')
('Dhaka', '1838 Tabriz Lane')
('Baku', '431 Székesfehérvár Avenue')
('Sumqayit', '503 Sogamoso Loop')
('Sousse', '507 Smolensk Loop')
('Rampur', '1920 Weifang Avenue')
('Onomichi', '124 al-Manama Way')
('Paarl', '1443 Mardan Street')
('Xinxiang', '1909 Benguela Lane')
('Hanoi', '68 Ponce Parkway')
('Ede', '1217 Konotop Avenue')
('Boa Vista', '1293 Nam Dinh Way')
('Mexicali', '785 Vaduz Street')
('Nuku´alofa', '1516 Escobar Drive')
('San Lorenzo', '1628 Nagareyama Lane')
('Maikop', '1157 Nyeri Loop')
('Daugavpils', '1673 Tangail Drive')
('Hsichuh', '381 Kabul Way')
('Imus', '953 Hodeida Street')
('Tšeboksary', '469 Nakhon Sawan Street')
('Zeleznogorsk', '1378 Beira Loop')
('Bamenda', '1641 Changhwa Place')
('Pachuca de Soto', '1698 Southport Loop')
('Santo André', '519 Nyeri Manor')
('Matsue', '619 Huánuco Avenue')
('Satna', '45 Aparecida de Goiânia Place')
('Bratislava', '482 Kowloon and New Kowloon Manor')
('Ranchi', '604 Bern Place')
('Almirante Brown', '1623 Kingstown Drive')
('Arecibo', '1009 Zanzibar Lane')
('Yaoundé', '114 Jalib al-Shuyukh Manor')
('Belém', '1163 London Parkway')
('Nyeri', '1658 Jastrzebie-Zdrój Loop')
('Guadalajara', '817 Laredo Avenue')
('Okinawa', '1565 Tangail Manor')
('Balikesir', '1912 Emeishan Drive')
('Adoni', '230 Urawa Drive')
('Najafabad', '1922 Miraj Way')
('Juárez', '433 Florencia Street')
('Gulbarga', '1049 Matamoros Parkway')
('Cabuyao', '1061 Ede Avenue')
('Probolinggo', '154 Oshawa Manor')
('Tanauan', '1191 Tandil Drive')
('Vitória de Santo Antão', '1133 Rizhao Avenue')
('Mwene-Ditu', '1519 Santiago de los Caballeros Loop')
('Kurgan', '1618 Olomouc Manor')
('Kermanshah', '220 Hidalgo Drive')
('Shenzhen', '686 Donostia-San Sebastián Lane')
('Bhavnagar', '97 Mogiljov Lane')
('Tychy', '1642 Charlotte Amalie Drive')
('South Hill', '1368 Maracaíbo Boulevard')
('Manchester', '401 Sucre Boulevard')
('Namibe', '368 Huánuco Boulevard')
('Huai´an', '500 Lincoln Parkway')
('Tama', '102 Chapra Drive')
('Kamjanets-Podilskyi', '1793 Meixian Place')
('Lubumbashi', '514 Ife Way')
('Cavite', '717 Changzhou Lane')
('Emeishan', '753 Ilorin Avenue')
('Nakhon Sawan', '1337 Mit Ghamr Avenue')
('Izumisano', '767 Pyongyang Drive')
('Addis Abeba', '614 Pak Kret Street')
('Korolev', '954 Lapu-Lapu Way')
('Gijón', '331 Bydgoszcz Parkway')
('al-Qadarif', '1152 Citrus Heights Manor')
('Iwatsuki', '168 Cianjur Manor')
('Atšinsk', '616 Hagonoy Avenue')
('Bagé', '1190 0 Place')
('Okara', '734 Béchar Place')
('Dallas', '530 Lausanne Lane')
('Koriyama', '454 Patiala Lane')
('Brest', '1346 Mysore Drive')
('Valparai', '990 Etawah Loop')
('Omiya', '1266 Laredo Parkway')
('Tandil', '88 Nagaon Manor')
('Charlotte Amalie', '264 Bhimavaram Manor')
('Rustenburg', '1639 Saarbrücken Drive')
('Jaffna', '692 Amroha Drive')
('Deba Habe', '1936 Lapu-Lapu Parkway')
('Richmond Hill', '432 Garden Grove Street')
('Cianjur', '1445 Carmen Parkway')
('Hoshiarpur', '791 Salinas Street')
('Berhampore (Baharampur)', '126 Acuña Parkway')
('Allende', '397 Sunnyvale Avenue')
('Amersfoort', '992 Klerksdorp Loop')
('Dadu', '966 Arecibo Loop')
('al-Qatif', '289 Santo André Manor')
('San Felipe de Puerto Plata', '437 Chungho Drive')
('Katihar', '1948 Bayugan Parkway')
('El Monte', '1866 al-Qatif Avenue')
('Pudukkottai', '1661 Abha Drive')
('Laohekou', '1557 Cape Coral Parkway')
('Sawhaj', '1727 Matamoros Place')
('Shanwei', '1269 Botosani Manor')
('San Juan Bautista Tuxtepec', '355 Vitória de Santo Antão Way')
('Purnea (Purnia)', '1596 Acuña Parkway')
('Guarujá', '259 Ipoh Drive')
('Syktyvkar', '1823 Hoshiarpur Lane')
('Tsuyama', '1404 Taguig Drive')
('Dzerzinsk', '740 Udaipur Lane')
('Sucre', '287 Cuautla Boulevard')
('Newcastle', '1766 Almirante Brown Street')
('Naçala-Porto', '596 Huixquilucan Place')
('Ozamis', '1351 Aparecida de Goiânia Parkway')
('Junan', '722 Bradford Lane')
('Vancouver', '983 Santa Fé Way')
('La Romana', '1245 Ibirité Way')
('Kitwe', '1836 Korla Parkway')
('Bergamo', '231 Kaliningrad Place')
('Dhule (Dhulia)', '495 Bhimavaram Lane')
('Batna', '1924 Shimonoseki Drive')
('Tongliao', '105 Dzerzinsk Manor')
('São Leopoldo', '614 Denizli Parkway')
('Tartu', '1289 Belém Boulevard')
('Escobar', '203 Tambaram Street')
('Uluberia', '1704 Tambaram Manor')
('Nabereznyje Tšelny', '207 Cuernavaca Loop')
('Erlangen', '319 Springs Loop')
('Sirjan', '956 Nam Dinh Manor')
('Surakarta', '1947 Paarl Way')
('El Fuerte', '814 Simferopol Loop')
('Abu Dhabi', '535 Ahmadnagar Manor')
('Maracaíbo', '138 Caracas Boulevard')
('Uruapan', '251 Florencia Drive')
('El Alto', '659 Gatineau Boulevard')
('Ziguinchor', '1889 Valparai Way')
('Rockford', '1485 Bratislava Place')
('Tegal', '935 Aden Boulevard')
('Qomsheh', '76 Kermanshah Manor')
('Florencia', '734 Tanshui Avenue')
('Gingoog', '118 Jaffna Loop')
('Usolje-Sibirskoje', '1621 Tongliao Avenue')
('Halifax', '1844 Usak Avenue')
('Rancagua', '1872 Toulon Loop')
('Zapopan', '1088 Ibirité Place')
('Dongying', '1322 Mosul Parkway')
('Cuauhtémoc', '1447 Chatsworth Place')
('Bijapur', '1257 Guadalajara Street')
('Ourense (Orense)', '1469 Plock Lane')
('Hodeida', '434 Ourense (Orense) Manor')
('Johannesburg', '270 Tambaram Parkway')
('Nam Dinh', '1786 Salinas Place')
('Lhokseumawe', '1078 Stara Zagora Drive')
('Emmen', '1854 Okara Boulevard')
('Šostka', '421 Yaoundé Street')
('Gatineau', '1153 Allende Way')
('Stockport', '808 Naçala-Porto Parkway')
('Ashqelon', '632 Usolje-Sibirskoje Parkway')
('Akron', '98 Pyongyang Boulevard')
('Gaziantep', '984 Novotšerkassk Loop')
('Mwanza', '64 Korla Street')
('Coatzacoalcos', '1785 São Bernardo do Campo Street')
('Denizli', '698 Jelets Boulevard')
('Yinchuan', '1297 Alvorada Parkway')
('Shaoguan', '1909 Dayton Avenue')
('Acuña', '1789 Saint-Denis Parkway')
('Pjatigorsk', '185 Mannheim Lane')
('La Paz', '184 Mandaluyong Street')
('Okayama', '591 Sungai Petani Drive')
('Sogamoso', '656 Matamoros Drive')
('Mit Ghamr', '775 Šostka Drive')
('Kanchrapara', '1013 Tabuk Boulevard')
('Sultanbeyli', '319 Plock Parkway')
('Ríobamba', '1954 Kowloon and New Kowloon Way')
('Baiyin', '362 Rajkot Lane')
('Rizhao', '1060 Tandil Lane')
('York', '1515 Korla Way')
('Salala', '1416 San Juan Bautista Tuxtepec Avenue')
('Brindisi', '1 Valle de Santiago Avenue')
('Madiun', '519 Brescia Parkway')
('Lublin', '414 Mandaluyong Street')
('Siliguri (Shiliguri)', '1197 Sokoto Boulevard')
('Ueda', '496 Celaya Drive')
('Joliet', '786 Matsue Way')
('Talavera', '48 Maracaíbo Place')
('Pontianak', '1152 al-Qatif Lane')
('Eskisehir', '1269 Ipoh Avenue')
('Vijayawada', '758 Korolev Parkway')
('Chapra', '1747 Rustenburg Place')
('Kamyšin', '886 Tonghae Place')
('Suihua', '1574 Goiânia Boulevard')
('London', '548 Uruapan Street')
('Yangor', '962 Tama Loop')
('Zaoyang', '1778 Gijón Manor')
('Coquimbo', '568 Dhule (Dhulia) Loop')
('Battambang', '1768 Udine Loop')
('Chungho', '608 Birgunj Parkway')
('Sivas', '680 A Coruña (La Coruña) Manor')
('Isesaki', '1949 Sanya Street')
('Nha Trang', '617 Klerksdorp Place')
('Yingkou', '1993 0 Loop')
('Santa Rosa', '1176 Southend-on-Sea Manor')
('Vinh', '600 Purnea (Purnia) Avenue')
('Purwakarta', '1003 Qinhuangdao Street')
('Udine', '1986 Sivas Place')
('Cape Coral', '1427 Tabuk Place')
('Mogiljov', '556 Asunción Way')
('Benguela', '486 Ondo Parkway')
('Bhimavaram', '635 Brest Manor')
('Ezeiza', '166 Jinchang Street')
('Kuwana', '958 Sagamihara Lane')
('Cam Ranh', '1817 Livorno Way')
('Binzhou', '1332 Gaziantep Lane')
('Amroha', '949 Allende Lane')
('NDjamna', '195 Ilorin Street')

In [307]:
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "sakila"
)
    
lat = mydb.cursor()

sql = "SELECT city.city, address.address FROM city INNER JOIN address ON city.city_id = address.city_id"
lat.execute(sql)
result = lat.fetchall()

for i in range(60):
    print(result[i])

('Lethbridge', '47 MySakila Drive')
('Woodridge', '28 MySQL Boulevard')
('Lethbridge', '23 Workhaven Lane')
('Woodridge', '1411 Lillydale Drive')
('Sasebo', '1913 Hanoi Way')
('San Bernardino', '1121 Loja Avenue')
('Athenai', '692 Joliet Street')
('Myingyan', '1566 Inegöl Manor')
('Nantou', '53 Idfu Parkway')
('Laredo', '1795 Santiago de Compostela Way')
('Kragujevac', '900 Santiago de Compostela Parkway')
('Hamilton', '478 Joliet Way')
('Masqat', '613 Korolev Drive')
('Esfahan', '1531 Salé Drive')
('Sagamihara', '1542 Tarlac Parkway')
('Yamuna Nagar', '808 Bhopal Manor')
('Osmaniye', '270 Amroha Parkway')
('Citrus Heights', '770 Bydgoszcz Avenue')
('Bhopal', '419 Iligan Lane')
('Southend-on-Sea', '360 Toulouse Parkway')
('Elista', '270 Toulon Boulevard')
('Kaduna', '320 Brest Avenue')
('Kimberley', '1417 Lancaster Avenue')
('Mardan', '1688 Okara Way')
('Tangail', '262 A Coruña (La Coruña) Parkway')
('Salé', '28 Charlotte Amalie Street')
('Liepaja', '1780 Hino Boulevard')
('Córdoba', '96 Tafuna Way')
('Shikarpur', '934 San Felipe de Puerto Plata Street')
('Città del Vaticano', '18 Duisburg Boulevard')
('Davao', '217 Botshabelo Place')
('Munger (Monghyr)', '1425 Shikarpur Manor')
('Shimonoseki', '786 Aurora Avenue')
('Lungtan', '1668 Anápolis Street')
('Kamarhati', '33 Gorontalo Way')
('Jhansi', '176 Mandaluyong Place')
('Alessandria', '127 Purnea (Purnia) Manor')
('Kurashiki', '61 Tama Street')
('Toulouse', '391 Callao Drive')
('Arak', '334 Munger (Monghyr) Lane')
('Nanyang', '1440 Fukuyama Loop')
('Chisinau', '269 Cam Ranh Parkway')
('Vila Velha', '306 Antofagasta Place')
('Nador', '671 Graz Street')
('Yerevan', '42 Brindisi Place')
('Pak Kret', '1632 Bislig Avenue')
('Faaa', '1447 Imus Way')
('Lipetsk', '1998 Halifax Drive')
('Antofagasta', '1718 Valencia Street')
('Moscow', '46 Pjatigorsk Lane')
('Juazeiro do Norte', '686 Garland Manor')
('Niznekamsk', '909 Garland Manor')
('Jedda', '725 Isesaki Place')
('Omdurman', '115 Hidalgo Parkway')
('Fontana', '1135 Izumisano Parkway')
('A Coruña (La Coruña)', '939 Probolinggo Loop')
('Nagareyama', '17 Kabul Boulevard')
('Iwakuni', '1964 Allappuzha (Alleppey) Street')
('Balašiha', '1697 Kowloon and New Kowloon Loop')
('Papeete', '1668 Saint Louis Place')